<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.selectservice.mapper.CartMapper">

    <insert id="insertProduct" parameterType="java.util.List">
        INSERT INTO productcart(id, name, category, price, buyer)
        VALUES
        <foreach collection="list" item="product" separator=",">
            (
            #{product.id},
            #{product.name},
            #{product.category},
            #{product.price},
            #{product.buyer}
            )
        </foreach>
    </insert>

    <insert id="insertCompleteProduct" parameterType="com.example.selectservice.dto.SelectRequestDTO">
        INSERT INTO completeproductcart(name, totalPrice, buyer, productId) VALUES (#{name}, #{totalPrice}, #{buyer}, #{productId})
    </insert>

    <select id="selectIdByproductId" parameterType="String" resultType="Integer">
        SELECT id from completeproductcart WHERE productId = #{productId}
    </select>

    <select id="getCompleteCartList" resultType="com.example.selectservice.dto.CompleteCartResponseDTO">
        SELECT
            id,
            name,
            totalPrice
        FROM completeproductcart
        WHERE buyer = #{nickName}
    </select>

    <!-- CartProductResponseDTO 데이터 조회 -->
    <select id="getCartProductList" resultType="com.example.selectservice.dto.CartProductResponseDTO">
        SELECT
            id,
            name,
            category,
            price
        FROM productcart
        WHERE buyer = #{nickName}
    </select>

    <insert id="insertCustomProducts" parameterType="java.util.List">
        INSERT INTO productcart(id, name, category, price, buyer)
        VALUES
        <foreach collection="list" item="product" separator=",">
            (
            #{product.id},
            #{product.name},
            #{product.category},
            #{product.price},
            #{product.buyer}
            )
        </foreach>
    </insert>

</mapper>