<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tobi.selectservice.mapper.SelectMapper">

    <insert id="insertSelect" parameterType="java.util.List">
        INSERT INTO productpay(orderNumber, name, category, price, sectionId, buyer)
        VALUES
        <foreach collection="list" item="product" separator=",">
            (
            #{product.orderNumber},
            #{product.name},
            #{product.category},
            #{product.price},
            #{product.sectionId},
            #{product.buyer}
            )
        </foreach>
    </insert>

    <insert id="insertCompleteProduct" parameterType="com.example.tobi.selectservice.dto.SelectRequestDTO">
        INSERT INTO completeproductpay(completeProduct, totalPrice,orderId) VALUES (#{completeProduct}, #{totalPrice}, #{orderId})
    </insert>

    <select id="selectOrderIdById" parameterType="String" resultType="Integer">
        SELECT id from completeproductpay WHERE orderId = #{orderId}
    </select>

    <select id="getSelectProducts" resultType="com.example.tobi.selectservice.model.Products">
        SELECT name,category,price,imagePath FROM products
    </select>

</mapper>